.whole-content{
    /* height: 100%; */
}


.first-module{
    background-image:linear-gradient(to top right,#39267e,#39267e,#39267e,#dc69d2,#dc69d2) ;
    margin:0;
    background-size: cover;
    height: 120%;
    width: 100%;

}

.first-content{
    /* background:red; */
    height: 600px;
    width: 100%;
    border:2px solid yellow;
} 

/* .second-module{
    background-color:#fff;
    margin:0;
    background-size: cover;
    height: 570px;
    width: 100%;

}

.second-content{
    background:yellow;
    height: 570px;
    width: 100%;
} */

.custom-shape-divider-bottom-1669644925 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1669644925 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1669644925 .shape-fill {
    fill: #fff;
}

#header{
    border:2px solid blue;
    padding:30px;
    margin-left:1em;
    width:100%;
    color:white;

}