html::-webkit-scrollbar{
    display:none;
}



.hr{
    border: 2px solid var(--one);
}

/*---------EDIT PROFILE-----------*/




.text-light {
    color:var(--font-color);
    font-weight: 700;
  }


  
  
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: var(--font-color);
  }

#profile{
    height:25em;
    text-align: center;
    padding:20px;
    /* border:2px solid var(--one); */
    margin-bottom: 15px;
}

#profile h1{
    font-size:25px;
    color:var(--one);
    font-weight: bold;
}

#profile img{
    border:5px solid var(--one);
    width: 250px;
    height: 260px;
}

#profile h4{
    font-size:15px;
    color:var(--one);
}

#upload-profile{
    background-color: var(--one);
    padding:10px 15px;
    margin-top:5px;
    color:var(--two);
    border-radius: 50px;
    
}

#edit-card{
    /* border:2px solid var(--one); */
    height:95%;
    width: 100%;
    padding:10px 20px;
}

#edit-card h1{
    color:var(--primary-color);
    font-size:30px;
}

.labels{
    padding:20px;
    margin-top:20px;
    color:var(--one);
    
}

.label-info{
    font-size:25px;
}

.labels p{
    color:var(--one);
    font-size:15px;
}


.edit-card-content h{
    display:none;
}

.edit-text{
    width:100%;
    margin:15px 5px;
    height: 50px;
}

.submit-edit{
    padding:10px;
    width:150px;
}

.edit-btn{
    display: flex;
    justify-content: space-between;
}

.edit-btn-buttons{
    display: flex;
    justify-content: space-evenly;
}
/*------------*/

.info-inline i{
    font-size: 30px;
}

/*-----DASHBOARD------------*/
.dashboard{

    box-shadow:var(--three) 2px 2px 2px 2px;
    height: 10em;
    text-align: center;
    border:2px solid var(--three);
}

.chart{
    box-shadow:var(--three) 2px 2px 2px 2px;
    text-align: center;
    border:2px solid var(--three);
    margin-bottom: 10px;
}

.dashboard-num{
    color:var(--primary-color);
    font-family: Arial narrow;
    margin-top:20px;
}

/*---------HOMEPAGE-----------*/
.title-page{
    border-left: 5px solid var(--topnav-color);
    padding:10px;
    text-transform: uppercase;
    color:var(--toptitle-color);
    font-size: 4vmin;
    font-weight: 700;
}


.contact-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.men{
    text-transform: uppercase;
    font-size: 12px;
    width: 200px;
    margin-left: 10px;
    /* max-height:335px; */
    height:300px;
    overflow-y:scroll;
    scrollbar-width: thin;
}


.men::-webkit-scrollbar{

    
    width:5px;
}

.men::-webkit-scrollbar-track{

    background:var(--topnav-color);;
    border-radius:50px;
    
    
}

.men::-webkit-scrollbar-thumb{
    
    background:#fff;
    border-radius:50px;
    width:1px;
    
}

.upload-logo{
    font-size: 100px;

}

/*----------END OF DASHBOARD------------*/

/*---------LOOGIN-----------*/


#back-link{
    color:black;
    text-decoration: none;
    padding:10px;
    border-radius: 20px;
}

#back-link:hover{
    background-color: var(--three);
    color:var(--one);

}

:root { 
    
     /* --bg-color:rgb(255,255,255,0.95); */
    /* --bg-color:#badfe7; */
    --bg-color:rgb(186,223,231,0.8);
    /* --topnav-color:#6200EF; */
    --topnav-color:#2b7a78;
    /* --card-color:rgb(255,255,255,0.8); */
    --card-color:rgb(186,223,231,0.8);
    --toptitle-color:#ffffff;
     --font-color:#171717;
    --tbl-title-color:#8e8e8e;
    --primary-color:#2b7a78;
    --sun:#FFFFFF;
    --moon:#2b7a78;
    /* --main-bg:rgba(98,0,239,0.5); */
    --card-header-bg:#ffffff;
    --header-title-font:#2b7a78;
  }


  .hr{
    border: 2px solid var(--primary-color);
}

.name{
    font-size:20px;
    margin-top:4px;
    color:var(--font-color);
  }


  .stud-num{
    font-size:15px;
    color:var(--font-color);
    font-weight: 700;
  }


.heading-stream{
    font-size: 100%;
    color:var(--one);
    border-bottom:5px solid var(--one);

}

.heading-announcement{
    font-size: 100%;
    color:var(--one);
}

.heading-document{
    font-size: 100%;
    color:var(--one);

}

.heading-class{
    font-size: 100%;
    color:var(--one);

}

.heading-announcement{
    font-size: 100%;
    color:var(--one);

}



.input-type{
    text-align: center;
    padding:10px;
    width:70%;
    position: absolute;
    top:30%;
    left: 15%;
    transform: translate(0%,0%);
    border-radius: 50px;
    border:2px solid black;
}

.submit-button{
    width: 10em;
    padding:10px;
    padding:10px;
    border-radius: 50px;
    border:2px solid var(--one);
    background-color: var(--two);
    transition: 0.2s;
}

.submit-button:hover{
    border:2px solid var(--four);
    color:white;
    background-color: var(--one);
}

.card-body-code{

    height: 50vh;
    text-align: center;
    

}

.heading-stream{
    font-size: 100%;
    color:var(--one);
    border-bottom: 5px solid var(--one);

}

.heading-document{
    font-size: 100%;
    color:var(--one);

}

.heading-class{
    font-size: 100%;
    color:var(--one);

}

.input-type{
    text-align: center;
    padding:10px;
    width:70%;
    position: absolute;
    top:40%;
    left: 15%;
    transform: translate(0%,0%);
    border-radius: 50px;
    border:2px solid black;
}

.submit-button{
    width: 10em;
    padding:10px;
    padding:10px;
    border-radius: 50px;
    border:2px solid var(--one);
    background-color: #fff;
    transition: 0.2s;
}

.submit-button:hover{
    border:2px solid var(--four);
    color:white;
    background-color: var(--one);
}

/*-------------------------STREAM-------------------------*/

.announcement-profile{
    width:40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid blue;
}
.post-divider{
        border: 2px solid var(--one);  
        border-radius:2px;
}
.stream-divider{
    width: 90%;
}
.card-header-class{
    text-align: center;
    background-color:var(--primary-color);
    color:#fff;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background: var(--card-color);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2rem;
    box-shadow: 20px; 
  }

  .thead{
    /* background-color: var(--primary-color); */
    /* color:#fff; */
    /* margin-top:40px; */
}



.card-header-class a{
    display: inline-block;
    padding:5px;
    width: 30%;
    margin:10px 0;
    transition: 0.1s;
    text-decoration: none;
}



.card-header-class h1{
    display: inline-block;
    padding:5px;
    width: 30%;
    margin:10px 0;
    transition: 0.1s;
}
.card-header-class h1:hover{
    border-bottom:5px solid var(--one);
}

.card-body-class{
    padding:30px;
    /* display:none; */
    /* border:2px solid red; */
}

.stream-content{
    border:2px solid #c3c3c3;
    padding:20px;
    background-color: #eeeeee;
}

.classroom-content{
    display:none;
}
/* 
.stream-content2{
   
    background-color: #fff;
} */

.stream-heading{
    size:50px;
    font-family: Arial narrow;
    color:var(--one)
}

.stream-sub-heading{
    font-size:20px;
}

.stream-announcement{
    font-size:30px;
    color:var(--one);
}

.container-announce{
    border:2px solid #c3c3c3;
    border-radius: 10px;
    background-color: #eeeeee;
}

.announce{
    padding:20px 20px 5px 20px;
}

#back-link{
    color:black;
    text-decoration: none;
    padding:10px;
    border-radius: 20px;
}

#back-link:hover{
    background-color: #c3c3c3;
    color:var(--one)

}


.text-area{
    padding:10px;
    margin:10px 0px;
    width:100%;
    max-height: 200px;
    border-radius: 10px;
    border:2px solid var(--one);
}

#right-button{
    display: flex;
    justify-content: flex-end;
    margin-top:-10px;
}

.add-comment{
    padding:5px;
    border-radius: 10px;
}

.comment-box{
    padding:0px 10px;
}

.overflow-comment{
    overflow-y:scroll;
    max-height: 500px;
}

.btn-modal-announcement button{
    background-color: #c3c3c3;
    border:none;
    border-radius: 40px;
    height: 60px;
    width: 60px;
}

.btn-modal-announcement button:hover{
    background-color: var(--one);
    color:#fff;
}


/*---------VIEW DETAILS COMPANY--------*/

#intern-company{
    border:2px solid red; 
    width: 100%;
}
/*------------------------------------*/

.breadcrumb-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.breadcrumb-n-btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.post-p{
    /* border:2px solid black; */
    padding:0 5px;
    margin-top:5px;
}

.notif{
    color:var(--font-color);
    background-color: var(--topnav-color);
    border:2px solid var(--tbl-title-color);
}

.notif-read{
    color:var(--font-color);
    background-color: gray;
    border:2px solid var(--tbl-title-color);
    
}

.name-date{
    width: 50%;
}
.btn-announcement{
    width:50%;
    text-align: right;
    padding:5px;
}
.inline-text{
    display: flex;
}

.comment{
    /* border:2px solid black; */
    border-radius: 20px;
    padding:5px;
    margin-left:20px;
    margin-top:-40px;
    width: 30%;
    margin-bottom: 10px;
}

.mga-comments{
    display:none;
}

.view-comment{
    text-decoration: none;
    color:var(--one);
}

.view-comment:hover{
    text-decoration: underline;
}


/*--------------------DOCUMENTS--------------------*/

.card-body-document{

    display: none;
    padding:30px;
}

.document-upload{
    padding:20px;
    border:2px solid #c3c3c3;
}


#document-table{
    width:100%;
}


#document-table tbody tr{
    border:2px solid #c3c3c3;
    background:#eeeeee;
}
#document-table tbody tr td{
    padding:10px;
}

.submit{
    color:#fff;
    border-radius: 50%;
    border:none;
    background-color: green;
}
.delete{
    color:#fff;
    border-radius: 50%;
    border:none;
    width:15%;
    height:15%;
    background-color:Red;
}

.document-heading{
    display: flex;
    justify-content:space-between;
    width:98%;

}

.btn-upload{
    padding:10px 20px;
    background-color: var(--one);
    color:white;
}
/*---------------CLASSROOM------------------*/

.card-body-classroom{
    display:none;
    padding:30px;
}

.inline-img{
    width:50px;
    height: 50px;
    border:2px solid var(--one);
    border-radius: 50%;
}

.info-inline{
    display: inline-flex;
    align-items: flex-end;
    width: 100%;
}
/*---------------------------COMMENTS--------------------------*/

.comments-collection{
    /* border:4px solid yellow; */
    padding:10px;
    margin-bottom:20px;
    border-bottom: 2px solid var(--one);
}



/*------------------------COMPANY APPLY-----------------*/

.company-card{
    background-color: #fff;
    border-radius: 5px;
    border:2px solid var(--one);
}
.company-title{
    border:2px solid var(--one);
    padding:10px;
    border-radius: 20px;
    background-color: #c3c3c3;
}

.company-logo{

    width:100%;
    height:10em;
    border-radius: 10px;
    border:2px solid var(--one);
}
.apply-link{
    text-decoration: none;
    color:black;
    background-color: #fff;
    padding:10px 20px;
    border-radius: 20px;
    border:2px solid black;
}

.apply-link:hover{
    color:#fff;
    background-color: var(--one);
}

.image-card{
    justify-content: center;
    text-align: center;
    padding:20px;
}

.company-img{
    width:90%;
    border-radius: 20px;
}

.card-1{
    border:2px solid #c3c3c3;
    border-radius: 20px;
}

.hiring-header{
    text-transform: uppercase;
}

.qualifications-content li{
    /* border:2px solid yellow; */
    text-align: left;
    list-style: none;
}

.qualifications-content{
    /* border:2px solid blue; */
    margin-top:-30px;
    margin-left:-30px;
}

.qualifications{

    /* border:2px solid red; */
    text-align: center;

}

/*--------COS---------*/

.input-cos{
    width:60%;
    padding:20px;

}

.btn-dropdown{
    width:60%;
    padding:20px;
    text-align:left;
    border:1px solid gray;
    background-color: #fff;
    color:gray;
}
.dropdown-menu{
    width:60%;
}

.card-body-code{
    padding:30px;
    margin-bottom:20px;
}

.text-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteme{

    color:black;
    text-decoration: none;
}

.deleteme:hover{

    color:#fff;
}

/*------------------------COS-APPLY------------*/


.input-type{
    text-align:left;
}

.cos-1{
    width:60%;
    padding:15px;
    border-radius: 20px;
}

/* input[type="file"]{
} */

/*-------------------INTERNSHIP DETAILS----------*/

.internship-company{
    height:40%;
    width: 40%;
}

#company-description{
    /* border:2px solid red; */
    width: 50%;
    padding:10px;
    margin-bottom: 20px;
}

.download-btn{
    width:80%;
    font-size:100%;
    display:inline-flex;
    align-items: center;
}

.request-btn{
    border-radius: 20px;
    background-color: var(--one);
    color:#fff;
}

.document{
    margin-left:15px;
}



/*------------------COMPANY ---------------------*/

.edit-icon{
    padding:5px;
    background-color: red;
    border-radius: 50%;
    width:10px;
   
}


.btn-view{
    background-color: green;
    padding:5px 10px;
    color:white;
    border:2px solid #c3c3c3;
}


#requirements-link{
    color:white;
    text-decoration: none;
}


/*-------------------CHAT BOX---------------*/






.chat-companies{
    background-color: var(--one);
    height: 560px;
    padding:10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.chat-companies h1{
    font-size:30px;
    color:#fff;
}

.company-list{
    background-color: #c3c3c3;
    height:75%;
    width:100%;
    padding:10px;
    overflow-y: scroll;
}

#search-company{
    display: flex;
    justify-content: center;
}

#search-company input{
    width:90%;
    border:2px solid var(--one);
    border-radius: 20px;;
}

#search-company button{
    border:none;
    border-radius: 40px;
    margin-left:-32px;
    font-size:15px;
    background-color: transparent;
}

#search-company button:hover{
    
    
    color:var(--one);
}

.company-itself{
    background-color: #fff;
    border:2px solid var(--one);
    padding:5px;
    margin:10px 5px;
    height: 70px;
    width:95%;
    display: flex;
    align-items: center;
}

.company-itself:hover{
    background-color: #dee2e6;
}



.company-itself img{
    height: 40px;
    width: 40px;
    background-color: #fff;
}

.name-message{
    line-height: 0.4;
    text-align: left;
    margin-left:10px;
    margin-top:10px;
    /* background-color: blue; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-message h4{
    font-size:15px;
    color:var(--one);
}

.name-message p{
    width:90%;
    height: 15px;
    /* background-color: yellow; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.chat-text{
    display:inline-flex;
}

.company-side{
    float:right;
    width:80%;
    margin:20px;
}
.school-header{
    color:#fff;
    margin-top:10px;
}
.chat{
    border:2px solid green;
}

.chat-card{
    background:#fff;
    border-radius: 15px;
    background-color: var(--one);
    /* box-shadow: 5px 5px 2px 2px; */
}

.chat-content{
    background-color: #fff;
    padding:20px;
    height: 70vh;
    overflow-y: scroll;
    
}

.chat-footer{
    padding:5px;
    background-color: var(--one);
    color:#fff;
    border-radius: 15px;


}

.school-side{
    width:80%;
    display:flex;
}

.chat-text{
    padding:2px;
}

.chat-school{
    border:2px solid black;
    padding:5px 15px 20px 20px;
    color:#fff;
    background-color: var(--one);
    border-radius: 20px;
    text-align: justify;
}

.chat-company{
    border:2px solid var(--one);
    padding:5px 15px 20px 20px;
    font-weight: bold;
    background-color: #c3c3c3;
    border-radius: 20px;
    text-align: justify;
}

.footer-content{
    width: 100%;
    display:inline-flex;
}

.footer-btn{
    background-color: var(--one);
    border:none;
    color:#fff;
    font-size:150%;
}

.footer-btn:hover{
    background-color: #c3c3c3;
    opacity: 50px;
    color:var(--one);
    border-radius:50px;
}

.btn-flex{
    width: 30vw;
    text-align: center;
}
.chat-box-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right:20px;
}

.btn-box-footer{
    width: 100%;
    text-align: center;
}

#input-message{
    width:80%;
    align-items: center;
    border-radius: 50px;
    border:2px solid white;
    height:40px;
    padding:15px;
}

.send-msg{
    background-color: #c3c3c3;
    border:none;
    margin-left:-40px;
    border-radius:50px;
    width:34px;
    height: 34px;
    margin-top:4px;
}

.send-msg:hover{
    background-color: var(--one);
    color:#fff;
}

/*REPOSITORY*/


.add-personel{
    padding:5px;
    border-radius: 5px;
}


/*--------SECTION-------*/

.add-section{
    display: flex;
    justify-content: flex-end;
}






/*----------------DOWNLOAD BUTTON ------------*/

/* input[type="file"]{

    display:none;
    
} */

#upload-button{
    background-color: var(--one);
    padding:10px;
    border-radius:5px;
    color:white;
    width: 60%;
    text-align: center;
    margin-top:40px;
}



.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
    background-color: var(--bg-color);
  }

.heading-h1{
    color:var(--one);
}

.dropdown-menu{
    overflow-y:scroll;
    height:200px;
    
}

.btn-dropdown{
    border:2px solid var(--one);
}


.left-side{
    padding:0px 50px;
    text-align: left;
}

.right-side{
    padding:0px 50px;
    text-align: left;
}


.cos-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*ALL ABOUT MODAL*/

.body-modal-color{
    background-color: var(--four);
}

.custom-modal-footer{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
}


.close{
    background-color: var(--one);
    color:var(--two);
    border:none;
    font-size:30px;
}
.header-modal-color{
    background-color: var(--primary-color);
    color:#fff;
    font-weight: bold;
}
.body-modal-color{
    background-color: var(--two);
}


.modal-title{
    color:var(--one);
}

.cos-modal{
    width:100em;
}

#modal-margin{
    display:flex;
    justify-content: center;
}



/*BODY*/

 /*BACKGROUND COLOR*/
 body{

    background-color:var(--four);
 }

 
/*COLOR NG MGA LINK TEXT SA SIDENAV*/
.sb-sidenav-light .sb-sidenav-menu .nav-link {

    color: var(--font-color);

 }

 



 /*TITLE*/
 .mt-4 {
    margin-top: 1.5rem !important;
    color:var(--three);
  }

 .img-profile{
     
    
    border:5px solid var(--primary-color);
 }


/*SA HOVER SIDE-NAVIGATION*/
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover{
     
    background-color:var(--topnav-color);
    /* border-left:2px solid #dc69d2; */
    color: #fff;
  
   }


 /*BACKGROUND NG SIDENAV*/

 .sb-sidenav-light {
    background-color: var(--two);
    /*COLOR NG NAME AND STUDENT NUMBER*/
    /* color: var(--one); */

 }



  /*TOP NAVIGATION*/

  .bg-dark {
    background-color: var(--topnav-color);
  }

  
  
  .fa-moon{
    color:var(--moon);
    }
    
    .fa-sun{
    color:var(--sun);
    }

    
.tbl-container{
    background-color: var(--card-color);
    overflow-x: scroll;
    border-radius: 2px;
    font-size: 2vmin;
    padding:5px;
    color:var(--font-color);
    border:1px solid var(--tbl-title-color);
}




.tbl-container::-webkit-scrollbar{ 

    
    height:5px;
}

.tbl-container::-webkit-scrollbar-track{

    background:var(--topnav-color);
    
    
}

.tbl-container::-webkit-scrollbar-thumb{
    
    background:#fff;
    
}


.title{
    color:var(--font-color);
} 

.dont-show-nav{
    display: none;
}

.dont-show-nav-icon{
    display: none;
}

    /* FROM samsung glaxy fold to pixel 5  */
    @media only screen and (min-width: 200px) and (max-width:409px){
        .img-profile{
        width:120px;
        height:120px;
        border-radius: 50%;
        }

        
        .men{
            text-transform: uppercase;
            font-size: 12px;
            margin-left: 10px;
        }

        .title-banner{
            display:none;
        }

        
        #sidebarToggle{
        margin-left:-30px;
        }   

            
        .dont-show-nav{
            display:none;
        }



        .dont-show-nav-icon{
            display:flex;
        }


}


/* from samsung Galaxy S20 Ultra to Surface Duo */
@media only screen and (min-width: 410px) and (max-width:667px){
.img-profile{
width:150px;
height:150px;
border-radius: 50%;
}


.men{
text-transform: uppercase;
font-size: 12px;
margin-left:10px;
}

.title-banner{
display:none;
}


#sidebarToggle{
margin-left:-20px;
}   


.dont-show-nav{
display:none;
}



.dont-show-nav-icon{
display:flex;
margin-left:20px;
}


}


/* Ipad Mini to Surface Pro 7 */
@media only screen and (min-width:668px) and (max-width:1011px){

.dont-show-nav-icon{
display:flex;
margin-left: 10vw;
}

.title-banner{
display:flex;
}


.dont-show-nav{
display:none;
}


.title-banner-sm{
display:none;
}


}



/* Nesthub amd Mesthub Mx ONwards */
@media only screen and (min-width:1012px) and (max-width:2000px){

.dont-show-nav-icon{
display:none;
}

.title-banner{
font-size:20px;
}


.dont-show-nav{
display:flex;
margin-left:40vw;
}


.title-banner-sm{
display:none;
}


#sidebarToggle{
margin-left:20px;
} 



}






.container-num{
    display:flex;
}

.span-before-print-danger{
    padding:5px 10px;
    border-radius:4px;
    color:#fff;
    background-color:red;
}

.span-before-print-success{
    padding:5px 10px;
    border-radius:4px;
    color:#fff;
    background-color:green;
}

  



